.container#landing
	.row
		.col-xs-3
		.col-xs-6
			h1 
				.sad-face.pretty-color
					&lt; :( /&gt;
			br
			.sadface-tagline
				code
					span {
					br
					span	status : 404,
					br
					span	error : 1,
					br
					span	message : 'Sorry this playground doesnt exists !'
					br
					span }
			
					
				
