.container
	form(name="newPlaygroundForm" no-validate ng-submit="goToPlayground()")
		input(type="text" class="form-control" name="ground-name" ng-model="landing.groundName" placeholder="Enter Playground Name")
		button(type="submit" class="btn btn-success")
			| Enter Playground