.container#landing
	.row
		.col-xs-3
		.col-xs-6
			h1 
				b.code-dust-landing
					&lt; code-dust /&gt;
			.tagline(class="pull-right")
				b
					span a platform for realtime code sharing and peer involvement
			
			#playground-form

				form(name="newPlaygroundForm" no-validate ng-submit="goToPlayground(newPlaygroundForm.$valid)")
					.row
						.col-xs-3
						.col-xs-6

							input(type="text" class="form-control name-the-game" name="ground-name" ng-model="landing.groundName" placeholder="Playground Name" required)
						.col-xs-3
							.play-button.pull-left
								button(type="submit" class="btn btn-alert" ng-disabled="newPlaygroundForm.$invalid")
									span(class="glyphicon  glyphicon-play")
					
					
	#dummy-code-snippet1.noselect
		span class Code {
		br
		span }
	#dummy-code-snippet2.noselect
		span module.exports = { ... }
