
.container
    #editor(ng-keyup="writingCode()" ng-model="playground.arena")

    #options
        h1 
            b.pretty-color
                &lt;code-dust/&gt;
        p
            select(class="form-control" name="code-dust-language" ng-model="playground.language" ng-options="language.language for language in playground.availableLanguages" ng-change="applyLanguage(playground.language)")
                <option value=""> Select Language</option>
        p
            select(class="form-control" name="code-dust-theme" ng-model="playground.theme" ng-options="theme.theme for theme in playground.availableThemes" ng-change="applyTheme(playground.theme)")
                <option value=""> Select Theme</option>

        p 
            span Total Connected : {{playground.totalPlayers}}

        #share-section
        
            p
                button(type="button" class="share-button" ng-click="copyToClipboard('url')")
                    span.glyphicon.glyphicon-share 
                    span  Copy Link
            p 
                span To work in the code with peers , click here to copy the URL
            br
            p
                button(type="button" class="share-button" ng-click="copyToClipboard('code')")
                    span.glyphicon.glyphicon-copy 
                    span  Copy code
            p 
                span Click to copy the code




        #footer
            b
                span The code editor used is  Ace editor 
                span.pretty-color - https://ace.c9.io

    #snackbar



