
.container
    #editor(ng-keyup="writingCode()" ng-model="playground.arena")

    #options
        h1 
            b.pretty-color
                &lt;code-dust/&gt;
        p
            b
                select(class="form-control" name="code-dust-language" ng-model="playground.language" ng-options="language.language for language in playground.availableLanguages" ng-change="applyLanguage(playground.language)")
                    <option value=""> Select Language</option>
        p
            b
                select(class="form-control" name="code-dust-theme" ng-model="playground.theme" ng-options="theme.theme for theme in playground.availableThemes" ng-change="applyTheme(playground.theme)")
                    <option value=""> Select Theme</option>

        p 
            span Peer(s) connected  : {{playground.totalPlayers}}

        #share-section

            p 
                label(class="share-button")
                    span.glyphicon.glyphicon-file  
                    span  Open file 
                    input(type="file" style="display: none;" onchange="angular.element(this).scope().fileChanged(this)")
            p 
                
                    span Click to open file
                    br
                    span(ng-repeat="supportedFileType in supportedFileTypes")
                        span.supported-filetype {{supportedFileType}} &nbsp;
            br
            p
                button(type="button" class="share-button" ng-click="copyToClipboard('url')")
                    span.glyphicon.glyphicon-share 
                    span  Copy Link
            p 
                
                    span Click here to copy the URL and share this playground with others
            br
            p
                button(type="button" class="share-button" ng-click="copyToClipboard('code')")
                    span.glyphicon.glyphicon-copy 
                    span  Copy code
            p 
                
                    span Click to copy the code




        #footer
            b
                span Code editor used -  Ace editor 
                span.pretty-color  https://ace.c9.io

    #snackbar



