#editor{ 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width : 73%;
}

#options{
	position: absolute;
	left : 75%;
	background-color: #E7E7E8;
	height: 100%;
	padding: 20px;
	width: 20%;
	text-align: center;
}

#landing *{

	text-align: center;
}

#landing{
	margin-top: 10%;
}

.code-dust-landing{
	font-size: 80px;
	color: #ec6c6c;
}

#playground-form{
	margin-top: 80px;
}

.pretty-color{
	color: #ec6c6c;
}

#footer{
	font-size: 15px;
	position: absolute;
	bottom : 40px;


}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 85%;
    top: 30px;
    font-size: 11px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.share-button{
	background-color: #ec6c6c;
	color : #ffffff;
	padding : 10px;
	border: none;
	border-radius: 5px;
}

#share-section{
	margin-top: 80px;
}

#sharing-url{
	font-size: 11px;

}

#dummy-code-snippet1{
	color: grey;
	position: absolute;
	top : 10px;
	font-size: 50px;
	left : 70%;
	opacity: 0.5;
}

#dummy-code-snippet2{
	color: grey;
	position: absolute;
	bottom : 10%;
	font-size: 50px;
	left : 5%;
	opacity: 0.4;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sad-face{
    font-size: 180px;
 
}

.sadface-tagline{
    color: grey;
    font-size: 20px;
    text-align: left;
}

.code-inner{
    
}

.arrow-cursor{
    font-size: 21px;

}

.ace_active-line{
    background: yellow !important;
    opacity: 0.3;
}