#editor{ 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width : 83%;
}

#options{
	position: absolute;
	left : 84%;
	background-color: #E7E7E8;
	height: 100%;
	padding: 20px;
}

#landing *{
	text-align: center;
}

.code-dust-landing{
	font-size: 80px;
}